[Desktop Entry]
Name=ProjectName
Comment=Project comments
Exec=opt/ProjectName/ProjectName
Terminal=false
Type=Application
StartupNotify=true
Icon=usr/share/pixmaps/ProjectName.png
Categories=images
Name[ru_UA]=ProjectName
