[Desktop Entry]
Name=QImageWiever
Comment=Image Wiever
Exec=opt/QImageWiever/QImageWiever.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=usr/share/pixmaps/QImageWiever.png
Categories=images
Name[ru_UA]=QImageWiever
