[Desktop Entry]
Name=CMakeWidgets
Comment=CMake Widgets
Exec=opt/CMakeWidgets/CMakeWidgets.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=usr/share/pixmaps/CMakeWidgets.png
Categories=calculation
Name[ru_UA]=CMakeWidgets
