[Desktop Entry]
Name=Sum
Comment=Sum
Exec=opt/Sum/Sum
Terminal=false
Type=Application
StartupNotify=true
Icon=usr/share/pixmaps/Sum.png
Categories=images
Name[ru_UA]=Sum
